.container{
    max-width: 130rem;
    margin: 2.4rem auto;
}

.grid-view, 
.list-view {
    height: 2.4rem;
}

.card{
    padding: 2.4rem 2.4rem;
    box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.1);
}

.product{
    box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.1);
}

.product-img{
    
}

.img-resp{
    max-width: 100%;
    width : 29rem;
    height: 40rem;
    
    border-radius: 1rem 1rem 0 0;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap : 1.2rem;
    align-items: center;
    justify-content: space-around;
}

.product-title h3{
    font-size: 1.6rem;
}

.product-desc{
    font-size : 1.2rem
}

.price-btn{
    padding: 1.2rem 1.2rem;
    background-color: #000;
    color: #fff;
    border-radius: 1rem;
}



.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

