<header class="main-header">
  <h4 class="brand-text">Sapient Assignment</h4>
  <ul class="routes-list">
    <li class="route"><a href="/route1">Route 1</a></li>
    <li class="route"><a href="/route2">Route 2</a></li>
    <li class="route"><a href="/route3">Route 3</a></li>
    <li class="route"><a href="/route4">Route 4</a></li>
    <li class="route"><a href="/route5">Route 5</a></li>
    <li class="route"><a href="/route6">Route 6</a></li>
  </ul>
</header>

<section class="main-section">
  <router-outlet></router-outlet>
</section>